<div class="container mt-4">
  <div class="card">
    <h1>Registation</h1>

    <form>
      <div class="form-group">
        <label>email</label>
        <input
          type="text"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>

      <div class="form-group">
        <label>password</label>
        <input
          type="text"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>

      <div class="form-group">
        <label>subject</label>
        <input
          type="text"
          [(ngModel)]="subject"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          id="subject"
          placeholder="Enter subject"
        />
      </div>

      <button type="submit" class="btn btn-primary mt-4" (click)="registerr()">
        Submit
      </button>
    </form>
  </div>
  <div></div>
</div>
